<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailysaver.shadowhite.dailysaver">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".onboard.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.expense.AddNewExpenseActivity"
            android:label="@string/new_expense"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.Invoice_generate"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.wallet.AddNewWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>