<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailysaver.shadowhite.dailysaver">

    <application
        android:name=".activities.leaktracker.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.splash.SplashActivity"
            android:theme="@style/SplashAppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.onboard.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.records.RecordsActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".activities.report.ReportActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".activities.wallet.WalletDetailsActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".activities.expensewallet.ExpenseActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.wallet.WalletActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>